language: cpp
sudo: true

compiler: 
  - gcc
  - clang  

before_install:
  - sudo add-apt-repository ppa:joseluisblancoc/mrpt -y
  - sudo apt-get update -d

install:
  - sudo apt-get install build-essential pkg-config cmake libmrpt-dev

script:
  - bash .travis.sh

env:
  - TASK="build"
  - TASK="test"
  
